<!--
	Category block
-->

<table width="600">
	<tr>
		<td colspan="3" width="600" height="25" class="td_gray">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="40" height="33" class="td_gray">
			<img src="images/category_02.gif" width="40" height="33" alt="" />
		</td>
		<td width="560" height="33" class="td_gray">
			<div class="text text_12 text_light-gray">04.06.2013</div>
			<div class="text text_12 text_black">Lorem ipsum dolor sit amet</div>
		</td>
	</tr>
	<tr>
		<td colspan="3" width="600" height="30" class="td_gray">
			&nbsp;
		</td>
	</tr>
</table>

