    <table class="footer1">
        <tr>
            <td>
                <table class="container">
                    <tr>
                        <td class="grid-6"><img src="http://www.shana.com/public/img/banners/newsletter/template/icons_secure_payments.png" alt="Pago Seguro" width="320" height="34" /></td>
                        <td class="grid-2 right">
                            <table class="social">
                                <tr>
                                    <td><a href="#"><img src="http://www.shana.com/public/img/banners/newsletter/template/icon_facebook.png" alt="Facebook" width="34" height="34" /></a></td>
                                    <td><a href="#"><img src="http://www.shana.com/public/img/banners/newsletter/template/icon_instagram.png" alt="Instagram" width="34" height="34" /></a></td>
                                    <td><a href="#"><img src="http://www.shana.com/public/img/banners/newsletter/template/icon_pinterest.png" alt="Pinterest" width="34" height="34" /></a></td>
                                    <td><a href="#"><img src="http://www.shana.com/public/img/banners/newsletter/template/icon_blog.png" alt="Blog" width="34" height="34" /></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="container links">
                    <tr>
                        <td class="grid-8">
                            <a href="$unsubUrl$" target="_blank">Darse de baja</a>   |   
                            <a href="http://www.shana.com/es/info/#shipments" target="_blank">Envíos y devoluciones</a>   |   
                            <a href="http://www.shana.com/es/info/#privacy" target="_blank">Política de Privacidad</a>   |   
                            <a href="http://www.shana.com/es/info" target="_blank">Contacta con Nosotros</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="footer2">
        <tr>
            <td>
                <table class="container">
                    <tr>
                        <td>
                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table class="footer3">
        <tr>
            <td>
                <table class="container">
                    <tr>
                        <td class="grid-5">
                            Para asegurarte que los e-mails de Shana Online llegan a tu buzón, por favor añade shana@insiteout.es a tu agenda de direcciones.                        
                        </td>
                        <td class="grid-3 right">
                            &reg; Copyright 2013 Shana
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>