<table class="header-decoration">
    <tr>
        <td></td>
    </tr>
</table>
<table class="header container">
    <tr>
        <td class="grid-2 logo">
            <img src="http://www.shana.com/public/img/banners/newsletter/template/logo.png" alt="Shana" />
        </td>
        <td class="grid-6 right">
            <span class="brand">ENVIO GRATUTITO</span> A PARTIR DE 40€
        </td>
    </tr>
</table>
<table class="navigation">
    <tr>
        <td><a href="http://www.shana.com/es" target="_blank">TIENDA ONLINE</a></td>
        <td><a href="http://www.shana.com/es/novedades/todas-las-novedades" class="brand" target="_blank">NOVEDADES</a></td>
        <td><a href="http://www.shana.com/es/ropa/jersey" target="_blank">JERSEY &amp; CHAQUETAS</a></td>
        <td><a href="http://www.shana.com/es/ropa/vestidos" target="_blank">VESTIDOS</a></td>
        <td><a href="http://www.shana.com/es/ropa/sudaderas" target="_blank">SUDADERAS</a></td>
    </tr>
</table>