<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/default.dwt" codeOutsideHTMLIsLocked="true" -->
<head>
    <title>
        <!-- InstanceBeginEditable name="doctitle" -->
        <!-- InstanceEndEditable -->
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="Css/styles.css" rel="stylesheet" type="text/css" />
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>
<body>
    <!-- #BeginLibraryItem "/Library/_header.lbi" -->
    <%= partial "/Library/header.lbi" %>
    <!-- #EndLibraryItem -->
    <!-- InstanceBeginEditable name="body" -->

    <table class="container">
        <tr>
            <td class="grid8" style="padding: 200px 0; text-align: center;">
                test content
            </td>
        </tr>
    </table>

    <!-- InstanceEndEditable -->
    <!-- #BeginLibraryItem "/Library/_footer.lbi" -->
    <%= partial "/Library/footer.lbi" %>
    <!-- #EndLibraryItem -->
</body>
<!-- InstanceEnd -->
</html>